.find-number 
    h1.mb20 Найдём номера под ваши пожелания
    .find-number__dropdown
        .date
            .date-dropdown
                label.area.area__name Прибытие
                .area__body
                    span.material-icons expand_more
                    input.area__input-date-dropdown.mw150(
                        type="text" 
                        placeholder="дд.мм.гг" 
                        autocomplete="off"
                        )
            .date-dropdown
                label.area.area__name Выезд
                .area__body
                    span.material-icons expand_more
                    input.area__input-date-dropdown.mw150(
                        type="text" 
                        placeholder="дд.мм.гг" 
                        autocomplete="off"
                        )
    .find-number__body.mb30
        .mw320
            p.area.area__name Гости
            .area__body.js-input-guest
                span.material-icons.js-icon-rotate expand_more
                input.area__input-guest.position-input_large(
                    type="text" 
                    placeholder="Сколько гостей"
                    )
            .dropdown
                .dropdown__block
                    .area__list-dropdown
                        ul 
                            li Взрослые
                            li Дети
                            li Младенцы
                    .area__list-btn  
                        ul  
                            li.area__list-btn_col
                                button -
                                span 0
                                button +
                            li.area__list-btn_col
                                button -
                                span 0
                                button +
                            li.area__list-btn_col
                                button -
                                span 0
                                button +
                .area__button
                    button(type = "submit") Применить
    .find-number__button-pay 
        .button-pay
            a(href="#").button-pay__link Подобрать номер
                span.material-icons.material-icons_white arrow_forward  