.find-number 
    h1.cards-position20 Найдём номера под ваши пожелания
    .find-number__dropdown.cards-position20
        .date
            .date-dropdown
                label.area__header.area__name(for="date-picker-cal1") Прибытие
                .area__body
                    span.material-icons expand_more
                    input#cal-two-input-find-number.area__input-date-dropdown.position-filter150(
                        type="text" 
                        placeholder="дд.мм.гг" 
                        autocomplete="off"
                        )
            .date-dropdown
                label.area__header.area__name(for="date-picker-cal2") Выезд
                .area__body
                    span.material-icons expand_more
                    input.area__input-date-dropdown.position-filter150(
                        type="text" 
                        placeholder="дд.мм.гг" 
                        autocomplete="off"
                        )
    .find-number__body.cards-position30
        .mw320
            p.area__header.area__name Гости
            .area__body.js-input-guest
                span.material-icons.js-dropdown-hidden expand_more
                input.area__input-guest.position-input-large-area(
                    type="text" 
                    placeholder="Сколько гостей"
                    )
            .area__block-list-hidden
                .area__list
                    .area__list-dropdown
                        ul 
                            li Взрослые
                            li Дети
                            li Младенцы
                    .area__list-btn  
                        ul  
                            li.area__list-btn_col
                                button -
                                span 0
                                button +
                            li.area__list-btn_col
                                button -
                                span 0
                                button +
                            li.area__list-btn_col
                                button -
                                span 0
                                button +
                .area__button
                    button(type = "submit") Применить
    .find-number__button-pay 
        .button-pay
            a(href="#").button-pay__link Подобрать номер
                span.material-icons.material-icons_white arrow_forward  