.entry 
    .registration
        h1.mb20 Войти
        .mw320
            .registration__text-field.mb10
                input#field.area__input.position-input_large(
                    type="text"
                    placeholder="Email"
                    autocomplete="off"
                    required
                    )
            .registration__text-field.mb20
                input#field.area__input.position-input_large(
                    type="password"
                    placeholder="Пароль"
                    autocomplete="off"
                    required
                    )
            .registration__button-pay.mb30
                .button-pay
                    button(type="sumbit").button-pay__link  Войти
                        span.material-icons.material-icons_white arrow_forward  
        .registration__sign-in 
            p Нет аккаунта на Toxin?
            button.button-click-sec Создать