.entry 
    .registration
        h1.cards-position20 Войти
        .position-filter320
            .registration__text-field.cards-position10
                input#field.area__input.position-input-large-area(
                    type="text"
                    placeholder="Email"
                    autocomplete="off"
                    required
                    )
            .registration__text-field.cards-position20
                input#field.area__input.position-input-large-area(
                    type="password"
                    placeholder="Пароль"
                    autocomplete="off"
                    required
                    )
            .registration__button-pay.cards-position30
                .button-pay
                    button(type="sumbit").button-pay__link  Войти
                        span.material-icons.material-icons_white arrow_forward  
        .registration__sign-in 
            p Нет аккаунта на Toxin?
            button.button-click-sec Создать