.choice 
    .find-number 
        .find-number__header.cards-position20
            .find-number__name №<span>888</span> <span>люкс</span>
            .find-number__title <span>9 990₽</span> в сутки
        .find-number__dropdown.cards-position20
            .date
                .date-dropdown
                    .area__header 
                        label.area__name(for="date-picker") Прибытие
                    .area__body
                        span.material-icons expand_more
                        input#cal-two-input-choice.area__input-date-dropdown.position-filter150(
                            type="text" 
                            placeholder="19.08.2019" 
                            autocomplete="off"
                            )
                .date-dropdown
                    .area__header 
                        label.area__name(for="date-picker") Выезд
                    .area__body
                        span.material-icons expand_more
                        input.area__input-date-dropdown.position-filter150(
                            type="text" 
                            placeholder="23.08.2019" 
                            autocomplete="off"
                            )
        .find-number__guest.cards-position20
            .position-filter320
                .area__header 
                    p.area__name Гости
                .area__body.js-input-guest.cards-position25
                    span.material-icons.js-dropdown-hidden expand_more
                    input.area__input-guest.position-input-large-area(
                        type="text" 
                        placeholder="3 гостя"
                        )
                .area__block-list-hidden
                    .area__list
                        .area__list-dropdown
                            ul 
                                li Взрослые
                                li Дети
                                li Младенцы
                        .area__list-btn  
                            ul  
                                li.area__list-btn_col
                                    button -
                                    span 0
                                    button +
                                li.area__list-btn_col
                                    button -
                                    span 0
                                    button +
                                li.area__list-btn_col
                                    button -
                                    span 0
                                    button +
                    .area__button
                        button Применить
            .find-number__body-block.cards-position10
                .find-number__body-block_left
                    p 9 990₽ х 4 суток
                .find-number__body-block_right
                    p 39 960₽
            .find-number__body-block.cards-position10
                .find-number__body-block_left
                    p Сбор за услуги: скидка 2 179₽
                    span(title="Вам бесплатно:)") i
                .find-number__body-block_right
                    p 0₽
            .find-number__body-block 
                .find-number__body-block_left
                    p Сбор за дополнительные услуги
                    span(title="Обязательный сбор") i
                .find-number__body-block_right
                    p 300₽
        .find-number__price.cards-position20 
            p Итого
            span 
            p 38 081₽
        .find-number__button-pay 
            .button-pay
                a(href="#").button-pay__link Забронировать
                    span.material-icons.material-icons_white arrow_forward  