.choice 
    .find-number 
        .type-appart.mb17
            .type-appart__number №<span>888</span> <span>люкс</span>
            .type-appart__price <span>9 990₽</span> в сутки
        .find-number__dropdown
            .date
                .date-dropdown
                    .area 
                        label.area__name Прибытие
                    .area__body
                        span.material-icons expand_more
                        input.area__input-date-dropdown.mw150(
                            type="text" 
                            placeholder="19.08.2019" 
                            autocomplete="off"
                            )
                .date-dropdown
                    .area 
                        label.area__name Выезд
                    .area__body
                        span.material-icons expand_more
                        input.area__input-date-dropdown.mw150(
                            type="text" 
                            placeholder="23.08.2019" 
                            autocomplete="off"
                            )
        .find-number__guest.mb20
            .mw320.mb15
                .area 
                    p.area__name Гости
                .area__body.js-input-guest
                    span.material-icons.js-icon-rotate expand_more
                    input.area__input-guest.position-input_large(
                        type="text" 
                        placeholder="3 гостя"
                        )
                .dropdown
                    .dropdown__block
                        .area__list-dropdown
                            ul 
                                li Взрослые
                                li Дети
                                li Младенцы
                        .area__list-btn  
                            ul  
                                li.area__list-btn_col
                                    button -
                                    span 0
                                    button +
                                li.area__list-btn_col
                                    button -
                                    span 0
                                    button +
                                li.area__list-btn_col
                                    button -
                                    span 0
                                    button +
                    .area__button
                        button Применить
            .find-number__body-block.mb10
                .find-number__body-block_left
                    p 9 990₽ х 4 суток
                .find-number__body-block_right
                    p 39 960₽
            .find-number__body-block.mb10
                .find-number__body-block_left
                    p Сбор за услуги: скидка 2 179₽
                    span(title="Вам бесплатно:)") i
                .find-number__body-block_right
                    p 0₽
            .find-number__body-block 
                .find-number__body-block_left
                    p Сбор за дополнительные услуги
                    span(title="Обязательный сбор") i
                .find-number__body-block_right
                    p 300₽
        .find-number__price.mb20 
            p Итого
            span 
            p 38 081₽
        .find-number__button-pay 
            .button-pay
                a(href="#").button-pay__link Забронировать
                    span.material-icons.material-icons_white arrow_forward  