include ../toggle/toggle.pug
include ../field/field.pug
.form-elements
    a(href="/")
        img.first-logo(src = require("./images/first-logo.svg"), alt="first-logo")
    .form-elements__container
        .form-elements_left
            .form-elements__text-field
                +field('This is pretty awesome', 'Hover / Focus ')(class="area__input")
            .form-elements__text-field
                +field('This is pretty awesome', 'Hover / Focus ')(class="area__input_active")
            .form-elements__dropdown-guest
                include ../dropdown-guest/dropdown-guest.pug
            .form-elements__masked-text-field
                +field('ДД.ММ.ГГ' ,'', 'Masked text field')(class="area__masked-text-field")
            .form-elements__date-dropdown
                .date
                    .date-dropdown
                        label.area__header.area__name(for="cal-two-input") Date dropdown
                        .area__body
                            span.material-icons expand_more
                            input#cal-two-input.area__input-date-dropdown.mw150.js-value1(
                                type="text" 
                                placeholder="дд.мм.гг" 
                                autocomplete="off"
                                )
                    .date-dropdown
                        label.area__header.area__name(for="cal-two-input") Date dropdown
                        .area__body
                            span.material-icons expand_more
                            input.area__input-date-dropdown.mw150.js-value2(
                                type="text" 
                                placeholder="19.08.2019" 
                                autocomplete="off"
                                )
            .form-elements__filter-date-dropdown
                .mw266
                    label.area__header.area__name(for="one-picker") Filter date dropdown
                    .area__body
                        span.material-icons expand_more
                        input#one-picker.area__input-filter-date-dropdown.position-input_small(
                            type="text" 
                            placeholder="19 авг - 23 авг" 
                            autocomplete="off"
                        )
            .form-elements__button
                fieldset.mw266
                    legend.area__name.area__header  Subscription text field
                    input.footer-up__input.position-input_small(
                    type="text" 
                    placeholder="Email" 
                    )
                    button(type="submit").footer-up__arrow
                        span.material-icons.material-icons_arrow arrow_forward  
            .form-elements__dropdown-default
                include ../dropdown-default/dropdown-default.pug
            .form-elements__dropdown-expanded
                .mw266
                    .area__header
                        label.area__name(for="expanded") Dropdown
                        label.area__name-fn Expanded
                    .area__body
                        span.material-icons expand_more
                        input#expanded.area__input-dropdown-default.position-input_small(
                            type="text"
                            placeholder="2 спальни, 2 кровати..."
                            autocomplete="off"
                            )
                    .area__block-list
                        .area__list
                            .area__list-dropdown
                                ul 
                                    li Спальни
                                    li Кровати
                                    li Ванные комнаты 
                            .area__list-btn  
                                ul  
                                    li.area__list-btn_col
                                        button -
                                        span 2
                                        button +
                                    li.area__list-btn_col
                                        button -
                                        span 2
                                        button +
                                    li.area__list-btn_col
                                        button -
                                        span 2
                                        button +
            .form-elements__expandable-checkbox
                include ../expandable-checkbox/expandable-checkbox.pug
            .form-elements__expandable-checkbox-list
                .mw266.mb104
                    .area__body.mb17
                        label.area__name-expandable(for="Expandable checkbox") Expandable checkbox list
                        span.material-icons expand_less
                    ul.area__expandable-checkbox-list
                        li  
                            input#dch1(type="checkbox")
                            label(for="dch1") Завтрак
                        li  
                            input#dch2(type="checkbox" checked)
                            label(for="dch2") Письменный стол
                        li 
                            input#dch3(type="checkbox" checked)
                            label(for="dch3") Стул для кормления
                        li  
                            input#dch4(type="checkbox" checked)
                            label(for="dch4") Кроватка
                        li  
                            input#dch5(type="checkbox")
                            label(for="dch5") Телевизор
                        li  
                            input#dch6(type="checkbox")
                            label(for="dch6") Шампунь 
        .form-elements_middle 
            .form-elements__checkbox-buttons
                .area__body.mb15
                    label.area__name(for="checkbox-buttons") Checkbox Buttons
                ul.area__expandable-checkbox-list
                    li  
                        input#cb1(type="checkbox")
                        label(for="cb1") Можно курить
                    li  
                        input#cb2(type="checkbox" checked)
                        label(for="cb2") Можно с питомцами
                    li 
                        input#cb3(type="checkbox" checked)
                        label(for="cb3") Можно пригласить гостей <br> (до 10 человек)
            .form-elements__radio-buttons
                .area__body.mb15
                    label.area__name(for="radio-buttons") Radio Buttons
                ul.area__radio-buttons
                    li 
                        input#rb1(type="radio" name="rb" checked)
                        label(for="rb1") Мужчина 
                    li 
                        input#rb2(type="radio" name="rb")
                        label(for="rb2") Женщина 
            .form-elements__toggle
                +toggle("Toggle", "Получать спецпредложения")
            .form-elements__like-button
                include ../like-button/like-button.pug
            .form-elements__rate-button
                include ../rate-button/rate-button.pug
            .form-elements__dropdown
                .mw320
                    label.area__header.area__name Dropdown 
                    .area__body
                        span.material-icons expand_more
                        input.area__input-dropdown-default.position-input_large(
                            type="text"
                            placeholder="Сколько гостей"
                            autocomplete='off'
                            )
                    .area__block-list
                        .area__list
                            .area__list-dropdown.iqdropdown
                                ul 
                                    li Взрослые
                                    li Дети
                                    li Младенцы
                            .area__list-btn  
                                ul  
                                    li.area__list-btn_col
                                        button -
                                        span 0
                                        button +
                                    li.area__list-btn_col
                                        button -
                                        span 0
                                        button +
                                    li.area__list-btn_col
                                        button -
                                        span 0
                                        button +
                        .area__button
                            button Применить
            .form-elements__rich-checkbox-buttons
                .mw266
                    .area__body.position-filter.mb10
                        label.area__name(for="Rich checkbox buttons") Rich checkbox buttons
                    ul.area__expandable-checkbox-list
                        li  
                            input#rc1(type="checkbox")
                            label(for="rc1") <span>Широкий коридор</span> <br>
                                p Ширина коридоров в номере не менее 91 см.
                        li  
                            input#rc2(type="checkbox")
                            label(for="rc2") <span>Помощник для инвалидов</span><br> 
                                p На 1 этаже вас встретит специалист  и проводит до номера.
        .form-elements_right
            .form-elements__range-slider
                include ../range-slider/range-slider.pug
            .form-elements__buttons.mb11
                .mw266
                    legend.area__name.area__header.mb15 Buttons
                    .button
                        button.button-click.button-position click me
                        button.button-click_active click me
                        button.button-click-sec.button-position_sec click me
                        button.button-click-sec_active click me
                        button.button-click_th.mb20 click me
                        button.button-click_th_active click me
            .form-elements__button-pay 
                .button-pay
                    a(href="#").button-pay__link Перейти к оплате
                        span.material-icons.material-icons_white arrow_forward  
            .form-elements__pagination 
                include ../pagination/pagination.pug
            .form-elements__dropdown
                .mw320
                    label.area__header.area__name Dropdown 
                    .area__body
                        span.material-icons expand_more
                        input.area__input-dropdown-default.position-input_large(
                            type="text"
                            placeholder="3 гостя"
                            autocomplete='off'
                            )
                    .area__block-list  
                        .area__list
                            .area__list-dropdown
                                ul 
                                    li Взрослые
                                    li Дети
                                    li Младенцы
                            .area__list-btn  
                                ul  
                                    li.area__list-btn_col
                                        button -
                                        span 2
                                        button +
                                    li.area__list-btn_col
                                        button -
                                        span 1
                                        button +
                                    li.area__list-btn_col
                                        button -
                                        span 0
                                        button +
                        .area__button
                            button Применить
                            button Очистить
            .mw255
                label.area__header.area__name(for="bullet-list") Bullet list 
                .area__body.bullet-list
                    ul 
                        li Нельзя с питомцами
                        li Без вечеринок и мероприятий
                        li Время прибытия — после 13:00, а выезд до 12:00
        .form-elements__icons-block 
            .icons-block
                .icons-block__img 
                    span.material-icons.material-icons_purpure insert_emoticon
                .icons-block__body 
                    p Комфорт
                    p Шумопоглощающие стены
            .icons-block
                .icons-block__img 
                    span.material-icons.material-icons_purpure location_city
                .icons-block__body
                    p Удобство
                    p Окно в каждой из спален
        .form-elements__review
            .review
                img(src = require("./images/avatar.png") alt="avatar")
                .review__name
                    p Мурад Сарафанов
                    span  5 дней назад
            .review__body
                div
                    .area__like-button-block.mr14
                        span.material-icons.material-icons_like.material-icons_like-color favorite
                        input#lb3.like(
                            type="checkbox"
                            checked
                            )
                        label.js-like-color.js-like-count(for="lb3") 12 
                p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
                