.registration
    h1.mb20 Регистрация аккаунта
    .mw320
        input.area__input.mb10.position-input_large(
            type="text"
            placeholder="Имя" 
            )
        input.area__input.mb10.position-input_large(
            type="text"
            placeholder="Фамилия"
            )
        ul.area__radio-buttons.mb20
            li 
                input#reg1(
                    type="radio" 
                    name="reg"
                    checked
                    )
                label(for="reg1") Мужчина 
            li 
                input#reg2(
                    type="radio"
                    name="reg"
                    )
                label(for="reg2") Женщина 
        fieldset 
            legend.area.area__name Дата рождения
            input.mb20.area__masked-text-field.position-input_large(
                type="text"
                placeholder="дд.мм.гг"
                ) 
        label.area.area__name Данные для входа в сервис 
        input.area__input.mb10.position-input_large(
            type="text"
            placeholder="Email"
            )
        input.area__input.mb10.position-input_large(
            type="text"
            placeholder="Пароль"
            )
        .area__toggle.mb20
            input#reg-sw.switch(
                type="checkbox"
                )
            label(for="reg-sw") Получать спецпредложения 
        a(href="#").mb30.button-pay__link Перейти к оплате
            span.material-icons.material-icons_white arrow_forward  
        .registration__sign-in 
            p Уже есть аккаунт на Toxin
            a.button-click-sec Войти